@import "tailwindcss";
@plugin "daisyui" {
	themes: valentine --default, coffee --prefersdark;
}

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-fira-code);
	--font-mono: var(--font-fira-code);
}

body {
	font-family: var(--font-fira-code), monospace;
}
